TASK:1 **Data** **Exploration** **and** **Preprocessing**

**Importing** **Libraries**

In [1]:
import pandas as pd

**Loading** **the** **Dataset**

In [2]:
df = pd.read_csv("/content/Dataset .csv")

**Printing** **Number** **of** **Rows** **and** **Columns**

In [3]:
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 9551
Number of columns: 21

**Checking for Missing Values**

In [4]:
missing_values = df.isnull().sum()
print("\nMissing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

**Aggregate rating distribution**

In [5]:
rating_distribution = df['Aggregate rating'].value_counts()
print("\nDistribution of Aggregate Rating:")
print(rating_distribution)

Distribution of Aggregate Rating:
Aggregate rating
0.0    2148
3.2     522
3.1     519
3.4     498
3.3     483
3.5     480
3.0     468
3.6     458
3.7     427
3.8     400
2.9     381
3.9     335
2.8     315
4.1     274
4.0     266
2.7     250
4.2     221
2.6     191
4.3     174
4.4     144
2.5     110
4.5      95
2.4      87
4.6      78
4.9      61
2.3      47
4.7      42
2.2      27
4.8      25
2.1      15
2.0       7
1.9       2
1.8       1
Name: count, dtype: int64

**TASK:2 Descriptive Analysis**

**Importing Libraries**

In [6]:
import pandas as pd

**Loading the Dataset**

In [8]:
df = pd.read_csv("/content/Dataset .csv")

**Perform operations on the loaded dataset**

In [9]:
numerical_stats = df.describe()
country_distribution = df['Country Code'].value_counts()
city_distribution = df['City'].value_counts()
cuisine_distribution = df['Cuisines'].value_counts()
top_cuisines = df['Cuisines'].value_counts().head(10)
top_cities = df['City'].value_counts().head(10)

**Printing Results**

In [10]:
print("Basic Statistical Measures for Numerical Columns:")
print(numerical_stats)
print("\nDistribution of Country Codes:")
print(country_distribution)
print("\nDistribution of Cities:")
print(city_distribution)
print("\nDistribution of Cuisines:")
print(cuisine_distribution)
print("\nTop 10 Cuisines:")
print(top_cuisines)
print("\nTop 10 Cities with the Highest Number of Restaurants:")
print(top_cities)

Basic Statistical Measures for Numerical Columns:
       Restaurant ID  Country Code    Longitude     Latitude  \
count   9.551000e+03   9551.000000  9551.000000  9551.000000
mean    9.051128e+06     18.365616    64.126574    25.854381
std     8.791521e+06     56.750546    41.467058    11.007935
min     5.300000e+01      1.000000  -157.948486   -41.330428
25%     3.019625e+05      1.000000    77.081343    28.478713
50%     6.004089e+06      1.000000    77.191964    28.570469
75%     1.835229e+07      1.000000    77.282006    28.642758
max     1.850065e+07    216.000000   174.832089    55.976980

       Average Cost for two  Price range  Aggregate rating         Votes
count           9551.000000  9551.000000       9551.000000   9551.000000
mean            1199.210763     1.804837          2.666370    156.909748
std            16121.183073     0.905609          1.516378    430.169145
min                0.000000     1.000000          0.000000      0.000000
25%              250.000000     1.000000          2.500000      5.000000
50%              400.000000     2.000000          3.200000     31.000000
75%              700.000000     2.000000          3.700000    131.000000
max           800000.000000     4.000000          4.900000  10934.000000

Distribution of Country Codes:
Country Code
1      8652
216     434
215      80
30       60
214      60
189      60
148      40
208      34
14       24
162      22
94       21
184      20
166      20
191      20
37        4
Name: count, dtype: int64

Distribution of Cities:
City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: count, Length: 141, dtype: int64

Distribution of Cuisines:
Cuisines
North Indian                                             936
North Indian, Chinese                                    511
Chinese                                                  354
Fast Food                                                354
North Indian, Mughlai                                    334
                                                        ...
Bengali, Fast Food                                         1
North Indian, Rajasthani, Asian                            1
Chinese, Thai, Malaysian, Indonesian                       1
Bakery, Desserts, North Indian, Bengali, South Indian      1
Italian, World Cuisine                                     1
Name: count, Length: 1825, dtype: int64

Top 10 Cuisines:
Cuisines
North Indian                      936
North Indian, Chinese             511
Chinese                           354
Fast Food                         354
North Indian, Mughlai             334
Cafe                              299
Bakery                            218
North Indian, Mughlai, Chinese    197
Bakery, Desserts                  170
Street Food                       149
Name: count, dtype: int64

Top 10 Cities with the Highest Number of Restaurants:
City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Amritsar          21
Ahmedabad         21
Lucknow           21
Guwahati          21
Name: count, dtype: int64

**TASK:3 Geospatial Analysis**

**Importing Libraries**

In [11]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster

**Loading the Dataset**

In [12]:
df = pd.read_csv("/content/Dataset .csv")

**Calculating Center Coordinates**

In [13]:
center_lat = df['Latitude'].mean()
center_long = df['Longitude'].mean()

**Creating a Folium Map**

In [14]:
m = folium.Map(location=[center_lat, center_long], zoom_start=10)
marker_cluster = MarkerCluster().add_to(m)
for idx, row in df.iterrows():
    folium.Marker([row['Latitude'], row['Longitude']], popup=row['Restaurant Name']).add_to(marker_cluster)
m.save("restaurant_locations.html")
city_distribution = df['City'].value_counts()
country_distribution = df['Country Code'].value_counts()

**Printing Distribution Information**

In [15]:
print("Distribution of Restaurants Across Different Cities:")
print(city_distribution)
print("\nDistribution of Restaurants Across Different Countries:")
print(country_distribution)

Distribution of Restaurants Across Different Cities:
City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: count, Length: 141, dtype: int64

Distribution of Restaurants Across Different Countries:
Country Code
1      8652
216     434
215      80
30       60
214      60
189      60
148      40
208      34
14       24
162      22
94       21
184      20
166      20
191      20
37        4
Name: count, dtype: int64

**Printing Correlation Information**

In [16]:
correlation = df[['Latitude', 'Longitude', 'Aggregate rating']].corr()
print("\nCorrelation Between Restaurant's Location and Rating:")
print(correlation)

Correlation Between Restaurant's Location and Rating:
                  Latitude  Longitude  Aggregate rating
Latitude          1.000000   0.043207          0.000516
Longitude         0.043207   1.000000         -0.116818
Aggregate rating  0.000516  -0.116818          1.000000