**TASK:1 Table Booking and Online Delivery**

**Importing Libraries**

In [1]:
import pandas as pd

**Loading the Dataset**

In [2]:
df = pd.read_csv("/content/Dataset .csv")

**Calculating**

In [3]:
total_restaurants = len(df)
table_booking_count = df['Has Table booking'].value_counts().get('Yes', 0)
online_delivery_count = df['Has Online delivery'].value_counts().get('Yes', 0)
table_booking_percentage = (table_booking_count / total_restaurants) * 100
online_delivery_percentage = (online_delivery_count / total_restaurants) * 100

**Printing Percentage Information**

In [4]:
print("Percentage of Restaurants Offering Table Booking: {:.2f}%".format(table_booking_percentage))
print("Percentage of Restaurants Offering Online Delivery: {:.2f}%".format(online_delivery_percentage))

Percentage of Restaurants Offering Table Booking: 12.12%
Percentage of Restaurants Offering Online Delivery: 25.66%

**Printing Average Rating**

In [5]:
average_rating_with_table_booking = df[df['Has Table booking'] == 'Yes']['Aggregate rating'].mean()
average_rating_without_table_booking = df[df['Has Table booking'] == 'No']['Aggregate rating'].mean()
print("\nAverage Rating of Restaurants with Table Booking: {:.2f}".format(average_rating_with_table_booking))
print("Average Rating of Restaurants without Table Booking: {:.2f}".format(average_rating_without_table_booking))

Average Rating of Restaurants with Table Booking: 3.44
Average Rating of Restaurants without Table Booking: 2.56

**Printing Online Delivery Availability by Price Range**

In [6]:
online_delivery_by_price_range = df.groupby('Price range')['Has Online delivery'].value_counts(normalize=True).unstack().fillna(0)
print("\nAvailability of Online Delivery Among Restaurants with Different Price Ranges:")
print(online_delivery_by_price_range)

Availability of Online Delivery Among Restaurants with Different Price Ranges:
Has Online delivery        No       Yes
Price range
1                    0.842259  0.157741
2                    0.586894  0.413106
3                    0.708097  0.291903
4                    0.909556  0.090444

**TASK:2 Price Range Analysis**

**Importing Libraries**

In [7]:
import pandas as pd

**Loading the Dataset**

In [8]:
df = pd.read_csv("/content/Dataset .csv")

**Operation of Most Common Price Range**

In [10]:
most_common_price_range = df['Price range'].mode()[0]
print("Most Common Price Range Among All Restaurants: {}".format(most_common_price_range))

Most Common Price Range Among All Restaurants: 1

**Operation of Average Rating by Price Range**

In [11]:
average_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()
print("\nAverage Rating for Each Price Range:")
print(average_rating_by_price_range)

Average Rating for Each Price Range:
Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

**Operation of Color Representing the Highest Average Rating**

In [12]:
highest_average_rating_color = average_rating_by_price_range.idxmax()
print("\nColor Representing the Highest Average Rating Among Different Price Ranges: {}".format(highest_average_rating_color))

Color Representing the Highest Average Rating Among Different Price Ranges: 4

**TASK:3 Feature Engineering**

**Importing Libraries**

In [13]:
import pandas as pd

**Loading the Dataset**

In [14]:
df = pd.read_csv("/content/Dataset .csv")

** operation of Mapping Categorical Columns to Numerical Values**

In [15]:
df['Restaurant Name Length'] = df['Restaurant Name'].apply(len)
df['Address Length'] = df['Address'].apply(len)
df['Has Table Booking'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})
df['Has Online Delivery'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})
df['Is Delivering Now'] = df['Is delivering now'].map({'Yes': 1, 'No': 0})
df['Switch to Order Menu'] = df['Switch to order menu'].map({'Yes': 1, 'No': 0})

**Printing**

In [16]:
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Aggregate rating Rating color  \
0        French, Japanese, Desserts  ...               4.8   Dark Green
1                          Japanese  ...               4.5   Dark Green
2  Seafood, Asian, Filipino, Indian  ...               4.4        Green
3                   Japanese, Sushi  ...               4.9   Dark Green
4                  Japanese, Korean  ...               4.8   Dark Green

  Rating text Votes Restaurant Name Length Address Length  Has Table Booking  \
0   Excellent   314                     16             71                  1
1   Excellent   591                     16             67                  1
2   Very Good   270                     22             56                  1
3   Excellent   365                      4             70                  0
4   Excellent   229                     11             64                  1

   Has Online Delivery Is Delivering Now Switch to Order Menu
0                    0                 0                    0
1                    0                 0                    0
2                    0                 0                    0
3                    0                 0                    0
4                    0                 0                    0

[5 rows x 27 columns]